.css-spectacular-input-container {
    display: inline-flex;
    width: auto;
    flex-direction: column;
}

.css-spectacular-input-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding-left: 2px;
    padding-bottom: 5px;
}

.css-spectacular-input-container input,
.css-spectacular-input-container textarea {
    background: var(--input-background-color);
    border: none;
    font-size: 16px;
    padding: 10px 16px;
    text-align: left;
    color: var(--input-text-color);
    border-radius: 2px;
    border-bottom: solid 2px var(--input-border-color);
    transition: all 350ms;
    position: relative;
}

.css-spectacular-input-container input:disabled,
.css-spectacular-input-container textarea:disabled {
    cursor: not-allowed;
    opacity: .8;
}

.css-spectacular-input-container input::placeholder,
.css-spectacular-input-container textarea::placeholder {
    opacity: 1;
    color: var(--input-placeholder-color);
}

.css-spectacular-input-error {
    font-size: 15px;
    color: var(--input-error-color);
    font-weight: 600;
    padding-top: 5px;
    padding-left: 2px;
}

.css-spectacular-input-error-hidden {
    color: transparent;
}

/* Primary 1 */
.css-spectacular-input-container-primary-1 input:focus {
    border-bottom-color: var(--primary-1);
}

/* Primary 2 */
.css-spectacular-input-container-primary-2 input:focus {
    border-bottom-color: var(--primary-2);
}

/* Primary 3 */
.css-spectacular-input-container-primary-3 input:focus {
    border-bottom-color: var(--primary-3);
}

/* Primary 4 */
.css-spectacular-input-container-primary-4 input:focus {
    border-bottom-color: var(--primary-4);
}

/* Primary 5 */
.css-spectacular-input-container-primary-5 input:focus {
    border-bottom-color: var(--primary-5);
}