.css-spectacular-button {
    width: auto;
    box-sizing: border-box;
    padding: 8px 16px 10px 16px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 350ms;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
    align-items: center;
    align-content: center;
}

.css-spectacular-button::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 350ms;
    z-index: -1;
}

.css-spectacular-button:hover::before {
    height: 100%;
}

.css-spectacular-button:focus {
    box-shadow: 0px 0px 10px 3px var(--focus-shadow);
}

.css-spectacular-button:disabled{
    opacity: .8;
    cursor: not-allowed;
}

.css-spectacular-button:disabled:hover::before {
    height: 3px;
}

.css-spectacular-button .with-icon {
    padding-left: 10px;
}


/* Primary 1 */
.css-spectacular-button-primary-1 {
    background: var(--primary-1);
    color: var(--primary-text-1);
}

.css-spectacular-button-primary-1:hover {
    color: var(--primary-text-event-1);
}

.css-spectacular-button-primary-1::before {
    background: var(--primary-event-1);
}

.css-spectacular-button-primary-1:disabled:hover {
    color: var(--primary-text-1);
}

/* Primary 2 */
.css-spectacular-button-primary-2 {
    background: var(--primary-2);
    color: var(--primary-text-2);
}

.css-spectacular-button-primary-2:hover {
    color: var(--primary-text-event-2);
}

.css-spectacular-button-primary-2::before {
    background: var(--primary-event-2);
}

.css-spectacular-button-primary-2:disabled:hover {
    color: var(--primary-text-2);
}

/* Primary 3 */
.css-spectacular-button-primary-3 {
    background: var(--primary-3);
    color: var(--primary-text-3);
}

.css-spectacular-button-primary-3:hover {
    color: var(--primary-text-event-3);
}

.css-spectacular-button-primary-3::before {
    background: var(--primary-event-3);
}

.css-spectacular-button-primary-3:disabled:hover {
    color: var(--primary-text-3);
}

/* Primary 4 */
.css-spectacular-button-primary-4 {
    background: var(--primary-4);
    color: var(--primary-text-4);
}

.css-spectacular-button-primary-4:hover {
    color: var(--primary-text-event-4);
}

.css-spectacular-button-primary-4::before {
    background: var(--primary-event-4);
}

.css-spectacular-button-primary-4:disabled:hover {
    color: var(--primary-text-4);
}

/* Primary 5 */
.css-spectacular-button-primary-5 {
    background: var(--primary-5);
    color: var(--primary-text-5);
}

.css-spectacular-button-primary-5:hover {
    color: var(--primary-text-event-5);
}

.css-spectacular-button-primary-5::before {
    background: var(--primary-event-5);
}

.css-spectacular-button-primary-5:disabled:hover {
    color: var(--primary-text-5);
}